.foot{
   
    display: flex;
    margin: 2px;
    
 justify-content: space-around;


    &__item{
/*background-color: crimson;*/
width: 200px;
min-height: 200px;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
    }
&__link{
text-decoration: none;
color: white;
}

}