
.head{
  
    height: 80px;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: $margin-bootom;
}
.principal{
    min-height:  150px;
    /*border: 1px solid red;*/
    margin-bottom: $margin-bootom;
}

.footerend{
    min-height:  150px;
    /*border: 1px solid red;*/
    background-color: #222222;
    margin-bottom: $margin-bootom;
    

}
